<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Free JavaScript (JS) Exercises - Play Fix a Function</title>
    <meta name="description" content="Free exercises for JavaScript Developers: Practice your front-end JavaScript development skills by fixing these functions">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="./styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
    <script src="./exercises.js"></script>
</head>
<body>
    <div id="app">
        <p v-show="isRepeatCustomer">
            Welcome back!
        </p>
        <h1>Fix a function!</h1>
        <main v-if="exercisesAttempted < exerciseCap && livesRemaining > 0 && isTimeGateLifted">
            <div>
                <section>
                    <button 
                        @click="giveUp" 
                        v-show="!isSolved" 
                        :disabled="didGiveUp">
                        Give up
                    </button>
                    <button 
                        @click="updateChallengeFn" 
                        v-show="!isSolved && !didGiveUp">
                        Reset
                    </button>
                    <button 
                        v-show="!isSolved && nextHint < filteredExercises[counter].hints.length" 
                        @click="getHint" 
                        :disabled="didGiveUp">
                        Get hint
                    </button>    
                </section>
                <dl>
                    <div>
                        <dt>Hints</dt>
                        <dd>{{ nextHint }}/{{filteredExercises[counter].hints.length}}</dd>
                    </div>
                    <div>
                        <dt>Points</dt>
                        <dd>{{ didGiveUp ? 0 : filteredExercises[counter].hints.length - nextHint }}/3</dd>
                    </div>
                    <div>
                        <dt>Lives</dt>
                        <dd>{{livesRemaining}}</dd>
                    </div>
                    <div>
                        <dt>Round</dt>
                        <dd>{{exercisesAttempted + 1}}/{{exerciseCap + 1}}</dd>
                    </div>
                    <div v-if="isRepeatCustomer">
                        <dt>Day</dt>
                        <dd>{{ priorSessions.length }}</dd>
                    </div>
                    <div>
                        <dt>Time</dt>
                        <dd v-if="timer === 'On'">:{{timeRemaining < 10 ? ("0" + timeRemaining) : timeRemaining}}</dd>
                        <dd v-else>--</dd>
                    </div>
                </dl>    
            </div>
            <div>
                <p v-show="needsHint && !isSolved">
                    Hint {{nextHint}} of {{filteredExercises[counter].hints.length}}: {{filteredExercises[counter].hints[nextHint - 1]}}
                </p>
                <div>
                    <section class="exercise">
                        <p>
                            {{ isSolved ? "Great job!" : "Edit one thing to make..." }}<br />
                            {{filteredExercises[counter].test}}
                        </p>
                        <pre 
                            contenteditable="true" 
                            :class="{ solved: isSolved, incorrect: (!isSolved && isWrongAnswer) }">
                            <code id="fn" @click="enableSolveButton"></code>
                        </pre>
                        <p>{{ filteredExercises[counter].difficulty.toUpperCase() }}</p>
                    </section>
                    <section class="exercise" v-show="didGiveUp">
                        <p>Correct answer</p>
                        <pre>
                            <code>{{filteredExercises[counter].answer}}</code>
                        </pre>
                    </section>    
                </div>
                <p>
                    <button 
                        class="primary"
                        v-show="!didGiveUp && !isSolved" 
                        @click="checkAttemptedFix" 
                        :disabled="isAwaitingAnotherTry">
                        {{ isWrongAnswer ? "Nope. Try again!" : "Did I fix it?" }}
                    </button>
                    <button 
                        class="primary"
                        v-show="isSolved || didGiveUp" 
                        @click="prepareNextExercise">
                        Play again?
                    </button>
                </p>    
            </div>
            <div>
                <h2>Game settings</h2>
                    <form action="">
                        <fieldset>
                            <legend>
                                Difficulty
                            </legend>
                            <p>
                                <input type="radio" id="easy" name="difficulty" value="easy" v-model="difficulty" :disabled="hasAttemptedToSolve" />
                                <label for="easy">
                                    Easy: Teach me
                                </label>    
                            </p>
                            <p>
                                <input type="radio" id="normal" name="difficulty" value="normal" v-model="difficulty" :disabled="hasAttemptedToSolve" />
                                <label for="normal">
                                    Normal: Toughen me
                                </label>    
                            </p>
                            <p>
                                <input type="radio" id="hard" name="difficulty" value="hard" v-model="difficulty" :disabled="hasAttemptedToSolve" />
                                <label for="hard">
                                    Hard: Try me
                                </label>    
                            </p>
                            <p>
                                <input type="radio" id="all" name="difficulty" value="all" v-model="difficulty" :disabled="hasAttemptedToSolve" />
                                <label for="all">
                                    Random: Test me
                                </label>    
                            </p>
                        </fieldset>
                        <fieldset>
                            <legend>
                                Timer
                            </legend>
                            <p>
                                <input type="radio" id="off" name="timer" value="Off" v-model="timer" :disabled="hasAttemptedToSolve" />
                                <label for="off">
                                    Off
                                </label>    
                            </p>
                            <p>
                                <input type="radio" id="on" name="timer" value="On" v-model="timer" :disabled="hasAttemptedToSolve" />
                                <label for="on">
                                    On
                                </label>    
                            </p>
                        </fieldset>
                        <fieldset>
                            <legend>
                                Time limit (in seconds)
                            </legend>
                            <p>
                                <input type="radio" id="thirty" name="limit" value="30" v-model="timeLimit" :disabled="hasAttemptedToSolve" />
                                <label for="thirty">
                                    30
                                </label>    
                            </p>
                            <p>
                                <input type="radio" id="fifteen" name="limit" value="15" v-model="timeLimit" :disabled="hasAttemptedToSolve" />
                                <label for="fifteen">
                                    15
                                </label>    
                            </p>
                            <p>
                                <input type="radio" id="ten" name="limit" value="10" v-model="timeLimit" :disabled="hasAttemptedToSolve" />
                                <label for="ten">
                                    10
                                </label>    
                            </p>
                        </fieldset>
                    </form>        
                </details>    
            </div>
        </main>
        <aside v-else>
            <h2>Your {{priorSessions.length}}-day score: 
                <a class="button" :href=`https://twitter.com/intent/tweet?hashtags=javascript&ref_src=twsrc%5Etfw&text=My%20${priorSessions.length}-day%20score%20is%20${accumulatedScore}%20playing%20%22Fix%20a%20function%22!%20Can%20you%20beat%20that%3F%20Play%20free%20to%20practice%20your%20JavaScript%20skills!&tw_p=tweetbutton&url=http%3A%2F%2Ffixafunction.com&via=putmionyourteam`>
                    {{accumulatedScore}} <i class="fab fa-twitter fa-sm"></i>
                </a>
            </h2>
            <p v-show="!isTimeGateLifted">Play again tomorrow!</p>
            <form action="" @submit.prevent="recordEmailAfterGameOver">
                <fieldset>
                    <legend>
                        Get more practice
                    </legend>
                    <label for="email">What's your email?</label>
                    <input type="email" id="email" v-model="email" required />
                    <input type="submit" :value="submitLabel" :disabled="isRecordingSubmission" />    
                </fieldset>
            </form>
        </aside>
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script src="./app.js"></script>
</body>
</html>