<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Free JavaScript (JS) Exercises - Play Fix a Function</title>
    <meta name="description" content="Free exercises for JavaScript Developers: Practice your front-end JavaScript development skills by fixing these functions">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="./styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
    <script src="./exercises.js"></script>
</head>
<body>
    <div id="app">
        <header>
            <h1>Fix a function!</h1>
            <p>How to win: change one thing to meet the <em>expectation</em></p>
        </header>
        <main v-if="exercises.length > 0 && livesRemaining > 0">
            <div>
                <section class="exercise">
                    <p>
                        {{ isSolved ? "Success" : "Expectation" }}: {{exercises[counter].test}}
                    </p>
                    <pre 
                        contenteditable="true" 
                        :class="{ solved: isSolved, incorrect: (!isSolved && isWrongAnswer) }">
                        <code id="fn" @click="enableSolveButton"></code>
                    </pre>
                </section>
                <section class="exercise" v-show="didGiveUp || isSolved">
                    <p>Solution</p>
                    <pre>
                        <code>{{exercises[counter].answer}}</code>
                    </pre>
                </section>
            </div>
            <section>
                <button 
                    v-show="!isSolved && nextHint < exercises[counter].hints.length" 
                    @click="getHint" 
                    :disabled="didGiveUp">
                    Get hint
                </button>
                <button 
                    @click="updateChallengeFn" 
                    v-show="!isSolved && !didGiveUp">
                    Reset exercise
                </button>
                <button 
                    @click="giveUp" 
                    v-show="!isSolved" 
                    :disabled="didGiveUp">
                    Give up
                </button>    
            </section>
            <ul v-show="needsHint">
                <li v-for="(hint, index) in exercises[counter].hints" v-show="index == nextHint - 1">
                    Hint {{index + 1}} of {{exercises[counter].hints.length}}: {{hint}}
                </li>
            </ul>
            <dl>
                <div>
                    <dt>Hints</dt>
                    <dd>{{ nextHint }}/{{exercises[counter].hints.length}}</dd>
                </div>
                <div>
                    <dt>Points</dt>
                    <dd>{{ didGiveUp ? 0 : exercises[counter].hints.length - nextHint }}/3</dd>
                </div>
                <div>
                    <dt>Score</dt>
                    <dd>
                        <a class="button" :href=`https://twitter.com/intent/tweet?hashtags=javascript&ref_src=twsrc%5Etfw&text=I%20scored%20${score}%20playing%20%22Fix%20a%20function%22!%20Can%20you%20beat%20that%3F%20Play%20free%20to%20practice%20your%20JavaScript%20skills!&tw_p=tweetbutton&url=http%3A%2F%2Ffixafunction.com&via=putmionyourteam`>
                            {{score}} <i class="fab fa-twitter fa-sm"></i>
                        </a>
                    </dd>
                </div>
                <div>
                    <dt>Lives</dt>
                    <dd><i class="fas fa-heart fa-sm"></i> {{livesRemaining}}</dd>
                </div>
            </dl>
            <button 
                v-show="!didGiveUp && !isSolved" 
                @click="checkAttemptedFix" 
                :disabled="awaitingAnotherTry">
                {{ isWrongAnswer ? "Nope. Try again!" : "Did I fix it?" }}
            </button>
            <button 
                v-show="isSolved || didGiveUp" 
                @click="prepareNextExercise">
                Play again?
            </button>
        </main>
        <aside v-else>
            <h2 class="is-centered">Want more? Ask Robert!</h2>
            <img src="https://rmion.com/images/ux-designer-robert-mion.jpg" 
                width="200" height="200" alt="Creator, Robert Mion" />
            <form action="" @submit.prevent="recordGame">
                <label for="email">What's your email?</label>
                <input type="email" id="email" v-model="email" required />
                <input type="submit" :value="submitLabel" :disabled="isRecordingSubmission" />
            </form>
        </aside>
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script src="./app.js"></script>
</body>
</html>